* {
    line-height: 1.4;
}
.navbar-logo {   
    min-width: 220px;
}
.logo {
    font-size: 2.2rem;
}
.navbar-text {    
    font-size: 0.8rem;
    margin-left: 3vw;   
    padding-top: 1.6rem;
}
.navbar-text .nav-top-submenu .nt-sub-text {
    padding: 0 0.5vw;
}
.food {
    padding: 0 0.3rem;
}
#navbar-bottom {
    height: 6rem;
}
#navbar-bottom a {
    font-size: 0.8rem;
    position: relative;
    top: 4.5rem;
}
#navbar-bottom ul li a {
    margin: 0 1.4rem 0 1.4rem;
}

/* Showcase */
.welcome {
    padding-top: 0rem;
    padding-bottom: 0.8rem;
    height: 8vh;
}
.welcome h1 {
    font-size: 1.2rem;
}
.welcome p {
    font-size: 0.8rem;
}

/* Display */
.display-top {
    height: 40vh;
}
.display-bottom {
    height: 40vh;
}
.display-top .display-text {
    max-width: 30%;
}
.display-bottom .display-text {    
    max-width: 30%;
}
.display-text p {
    font-size: 0.8rem;
}
.display-text h1, h3 {
    font-size: 1rem;
}
.display-top .display-img {
    margin-left: -4vw;
}
.display-bottom .display-img {
    margin-right: -4vw;
}
.display-img img {
    max-width: 320px;
}

/* Footer */
.footer-logo {
    padding-top: 0;
    font-size: 2.6vw;
}
.footer-right p {
    font-size: 1.2vw;
    padding-bottom: 0.rem;
}
.footer-right h4 {
    font-size: 1vw;
    margin-top: 0rem;
}
.footer-right ul li {
    font-size: 0.7rem;
    padding: 0rem 0.4vw;
    position: relative;
    bottom: 0;
}
.footer-right h4 {
    position: relative;
    bottom: 0.2rem;
}
.footer-center li {
    font-size: 1.1vw;
}
.footer-center h3 {
    font-size: 1.9vw;
}
.footer-left li  {  
    font-size: 1.2vw;  
}