body {
    height: 100%;
}
#navbar .navbar-top {
    display: flex;
    flex-wrap: nowrap;
    height: 4rem;
}
#navbar .navbar-top .logo {
    top: 0.6rem;
    font-size: 2rem;
    padding: 0 0.4rem 0 1rem;
    text-align: center;
    min-width: 200px;
}
#navbar .navbar-top .navbar-text {
    top: 1.6rem;
    font-size: 0.8rem;
}
#navbar i.fas, i.fab {
    font-size: 0.8rem;
} 
#navbar .navbar-top .navbar-text a{
    color: #333;
    font-weight: 600;
    padding-right: 0.6rem;
}
#navbar .navbar-top .navbar-text .pink {
    color: #a46877;
}
#navbar .navbar-top .navbar-text a:hover {
    color: #a46877;
    transition: 0.3s linear;
}
#navbar .navbar-bottom {
    height: 1.8rem;    
}
#navbar .navbar-bottom ul li {
    padding: 0 0.8rem;    
    font-size: 0.7rem;
}
/* Nested show */
#navbar .navbar-bottom ul li:hover ul {
    right: -0.5rem;
    width: 100px;
    padding: 0.2rem 0;
}
#navbar .navbar-bottom ul li:hover ul li {
    padding: 0.3rem 0;
}
/* showcase */
.background {
    background-image: url("../images/showcase-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 580px;
}
.welcome {
    height: 8vh;
    padding: 0.4rem;
}
.welcome h1 {
    font-size: 1.1rem;
    padding: 0.2rem 0 0.2rem 0;
    }
.welcome p {
    font-size: 0.8rem;
    max-width: 6000px;
    padding-bottom: 0.2rem;
}
/* Display */
.display-top {    
    height: 100%;
    padding: 2.8rem 0 3rem 0;
}
.display-bottom {
    height: 100%;
    padding: 3rem 0;
}
.display-top .display-text {
    font-size: 0.8rem;
    line-height: 1.4;
    padding-right: 1rem;
}
.display-bottom .display-text {
    font-size: 0.8rem;
    line-height: 1.4;
    padding-left: 1rem;

}
.display-img img {
    width: 30vw;
    min-width: 340px;
    max-width: 520px;
    box-shadow: 5px 5px 15px #000;
    -moz-box-shadow: 5px 5px 15px #000;
    -webkit-box-shadow: 5px 5px 15px #000;
    -khtml-box-shadow: 5px 5px 15px #000;
}

/* covid */
.covid-container {
    padding-top: 6rem;
}
.covid-img img {
    width: 300px;
    margin-left: 0.6rem;
}
.covid-text {
    width: 60%;
    padding: 1rem;
    font-size: 0.9rem;
}
.covid-text ul li {
    font-size: 2.4rem;
    padding: 1rem;
    color: #a46877;
}

/* Gallery */
.gallery-container {
    max-width: 780px;
}
.items-container {
    padding-top: 7rem;
    padding-bottom: 1rem;
    justify-content: center;
}
/* Art */
.art-container {
    min-height: calc(100% - 228.39px);
}
.art-intro {
    display: inline-block;
    width: 100%;
    min-height: 450px;
    margin: auto;
    text-align: center;
}
.art-img {
    display: inline-block;
    max-width: 45vw;
    margin: 1.4rem;
    top: 2.4rem;
    position: relative;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.art-header {
    display: inline-block;
    position: relative;
    text-align: center;
    top: -2rem;
    padding: 0rem;
    max-width: 350px;
    margin: auto;
    margin-top: 6rem;
}
.art-header p {
    font-size: 0.9rem;
    margin-left: 1rem;
}
.art-header h1 {
    font-size: 1.2rem;
}
.exhibition .exhi-text h2{
    font-size: 1.2rem;
}
.exhibition .exhi-text p{
    font-size: 0.9rem;
}
/* About Us */
#about {
    position: relative;
}
.about-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 3.8rem;
}
.about-container .top {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-bottom: 0rem;
}
#bottom {
    width: 100%;
    margin: auto;
    background: #333;
    padding: 0rem;
    margin-bottom: 0rem;
    max-width: 100%;
}
#bottom p {
    color: #fff;
    max-width: 90%;
    margin: auto;
}
.about-container img {
    display: flex;
    width: 480px;
    height: auto;
    margin: auto;
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -khtml-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
}
.about-container .about-opening {
    display: flex;
    text-align: center;
    padding: 4rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: auto;
}
.about-container .about-opening .opening-title{
    color: #a46877;
}
.list-quote {    
    
    padding: 2rem;
}
.list-quote p {
    max-width: 80%;
}
.list-quote a {    
     margin: auto;
    color: #a46877;
    margin-bottom: 2rem;
}
.list-quote .list-img {
    width: 60px;
    height: 50px;
}
.map {
    margin: 1rem;
}
.quote-map {
    display: inline-block;
    text-align: center;
    margin: auto;
}
.quote-map .address {
    display: inline-block;
    justify-content: center;
    margin: 0rem;
}
.quote-map .address p {
    font-size: 1.2rem;
    font-weight: 500;
}
.quote-map .address a {
    color: #a46877;
}
.quote-map .address {
    padding: 0;
}

/* Footer */
#footer {
    height: 100%;
    position: relative;
    bottom: 0;
}
.footer-social li {   
    padding: 0.4rem;
}
.footer-social .fa-facebook-f, .footer-social .fa-instagram,
.footer-social .fa-twitter, .footer-social .fa-tripadvisor {
    font-size: 1.1rem;
}
.follow {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.footer-links a{
    font-size: 0.6rem;
    padding-top: 0.8rem;
}
.footer-opening .opening-title {
    font-size: 0.7rem;
    padding-top: 0.6rem;
}
.footer-opening li {
    font-size: 0.6rem;
}
.footer-address .footer-logo {
    font-size: 1.6rem;
}
.footer-address p, .footer-address a {
    font-size: 0.6rem;
}
.footer-address h4 {
    font-size: 7px;
    margin-top: 0.9rem;
}


