.logo{
    width: 30%;
    text-align: right;
    padding: 1.4rem 1vw 0 0.4rem;
}
.logo img{
    width: 280px;
}
.navbar-text{
    position: relative;
    left: 12%;
}
.navbar-text p{
    padding-left: 0rem;
    padding-top: 0rem;
    font-size: 0.85rem;
}
.navbar-text ul li{
    padding-right: 0.7rem;
}
.navbar-text ul li a{
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
}
#navbar i.fas, i.fab{
    font-size: 1rem;
} 
/* Nav-Bottom */

.navbar-bottom ul li{
    padding: 0 1.2rem;
    font-size: 0.8rem;
}    
.fa-angle-down:before{
    font-size: 0.6rem;
}
/* Nested show */
#navbar .navbar-bottom ul li:hover ul{
    display: block;
    position: absolute;
    right: -1.6rem;
    width: 160px;
    padding: 0.4rem 0;
    text-align: center;
}
/* Welcome */
.background{
    height: 68vh;
}
.welcome h2{
    font-size: 1.2rem;
    padding: 1rem 0 0.4rem 0;
    }
.welcome p{
    font-size: 0.9rem;
}
  /* showcase */
  .display-top{
    height: auto;
}
.display-bottom{
    height: 50vh;
}
.display-top .display-text{
    direction: rtl;
    text-align: center;
    font-size: 1rem;
    text-align: justify;
    max-width: 500px;
    margin: auto;
    line-height: 1.6;
}

.display-bottom .display-text {
    font-size: 1rem;
}

.newcovid {
    position: absolute;
    top: 10rem;
    left: 2rem;
    z-index: 3;
}

.newcovid img {
    width: 680px;
}

.btn {
    position: absolute;
    top: 29rem;
    left: 26.5rem;
    z-index: 3;
    width: auto;
    background-color: #000;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    color: #a46877;
}

/* About */
.about-container img{
    width: 440px;
    height: inherit;
}
.about-container .about-opening{
    padding: 2rem 2rem 0 2rem;
    font-size: 1.2rem;
    line-height: 1.7;
    justify-content: center;
}

.address p{
    font-weight: 700;
    font-size: 0.9rem;
}

.list-quote p {
    display: inline-block;
    max-width: 80%;
    margin: auto;
    padding-top: 0.6rem;
    font-size: 0.9rem;
}
/* Covid */
.covid-container {
    width: 90%;
    height: auto;
    padding-top: 8rem;
}
.covid-text {
    width: 80%;
    padding: 1rem 0 0 0;
}

/* Art */
.art-img{
    display: inline-block;
    max-width: 450px;
    margin: 1.4rem;
    position: relative;
    top: -1rem;

}
/* footer */
.footer-social .fa-facebook-f, .footer-social .fa-instagram,
.footer-social .fa-twitter, .footer-social .fa-tripadvisor {
    font-size: 1.5rem;
}
.follow{
    font-size: 2.2rem;
}
.footer-links a{
    font-size: 0.8rem;
}
.footer-opening .opening-title{
    font-size: 1rem;
}
.footer-opening li{
    font-size: 0.9rem;
    max-width: 160px;
}
.footer-address .footer-logo img{
    width: 220px;
}
.footer-address p, .footer-address a{
    font-size: 0.9rem;
}


/* COVIDUPDATE */

.covidupdate-img {
        display: flex;
        width: 440px;
        height: inherit;
        margin: auto;
        margin: 1rem;
        box-shadow: 0px 2px 5px #000;
        -moz-box-shadow: 0px 2px 5px #000;
        -webkit-box-shadow: 0px 2px 5px #000;
        -khtml-box-shadow: 0px 2px 5px #000;
    }


.covidupdate-text {
    display: flex;
    text-align: center;
    padding: 7rem 2rem 4rem 2rem;
    font-size: 1rem;
    line-height: 1.2;
}