:root {
    --primary-color: #333;
    --secondary-color: rgba(164, 104, 119 , 1);
    --overlay-color: rgba(51, 51, 51 , 0.9);
    --menu-speed: 0.75s;
  }
#navbar{
    height: 60px;
    width: 100%;
}
/* Nav-Top */
.navbar-top{
    height: 54px;
}
.logo{
    width: 100%;
    text-align: right;
    padding: 0.68rem 0 0 0;
    text-align: center;
    padding-left: 62px;
}
.logo img{
    width: 250px;
}
.navbar-text{
    display: none;
}
/* Nav-Bottom */
.navbar-bottom{
    display: none;
}
/* hide nav-top-menu */
#navbar .navbar-bottom ul li ul{
    display: none;
}
/* Nested show */
#navbar .navbar-bottom ul li:hover ul{
    display: block;
    position: absolute;
    right: -1rem;
    width: 160px;
    padding: 0.4rem 0;
    text-align: center;
}
/* .background{
    background-image: url("../images/showcase-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 84vh;
} */
/* Showcase */
.background{
    background-image: url("../images/showcase-background-s2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    height: 70vh;
}
.welcome{
    width: 100%;
}
.welcome h2{
    font-size: 1rem;
    padding: 0.6rem 0.2rem 0.2rem 0.2rem;
    }
.welcome p{
    font-size: 0.8rem;
    max-width: 100%;
    padding: 0.4rem 0.4rem 0.6rem 0.4rem;
}
 /* Display */
.display-top {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}
.display-bottom {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}
.display-top .display-text {
    display: inline-block;
    direction: ltr;
    width: 100%;
    max-width: 100%;
    margin: auto;
    line-height: 1.4;
    margin-bottom: 0rem;
    padding: 1rem 0.4rem;
}
.display-text p{
    text-align: center;
    max-width: 450px;
    margin: auto;
}
.display-bottom .display-text {
    display: inline-block;
    width: 100%;
    margin: auto;
    line-height: 1.4;
    margin-bottom: 0rem;
    padding: 1rem 0.4rem;
}
.display-top .display-text h2 {
    font-weight: 400;
}
.display-bottom .display-text h2 {
    font-weight: 300;
    text-align: center;
}

.display-text h3 a{
    font-family: 'Roboto';
    font-weight: 400;
    color: #A46877;
}

.display-top .display-img {   
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0;
    margin-bottom: 1rem;
}
.display-bottom .display-img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0;
    margin-bottom: 1rem;
}
.display-img img {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: inherit;
    min-width: 100%;
    position: relative;
    bottom: 0;
}
/* Covid */
.covid-container {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    margin: auto;
}
.covid-img{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.covid-img img {
    display: flex;
    width: 40vw;
    min-width: 140px;
    max-width: 320px;
    margin: 0.2rem;
}
.covid-text {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
.covid-text ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* Reservations */
.reservations-container {
    padding-top: 4rem;
}
#reservations {
    position: relative;
    min-height: auto;
    height: 83vh;
}
/* Art */
.art-header{
    display: block;
    position: relative;
    text-align: center;
    top: 0rem;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    max-width: 460px;
    margin-top: 0rem;
    height: auto;
}
.art-header p{
    font-size: 1rem;
    margin: 0rem;
    text-align: center;
    padding: 1rem 0;
}
.art-img{
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 1rem;
}
.exhibition .exhi-text{
    width: 100%;
}
.exhibition .exhi-text h2{
    font-size: 1rem;
    text-align: center;
}
.exhibition .exhi-text p{
    font-size: 1rem;
    text-align: center;
}
.exhibition .exhi-img img{
    display: block;
    width: 100%;
    max-width: 360px;
    margin: auto;
    top: 0rem;
    margin-bottom: 1rem;
}
.exhibition .exhi-img{
    display: block;
}
/* About Us */
.about-container{
    display: inline-block;
    width: 100%;
    height: inherit;
    margin: auto;
    padding-top: 3rem;
}
.about-container .top{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.opening-title h4{
    padding-top: 2rem;
}
#bottom{
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
}
#bottom p{
    color: #333;
    width: 100%;
    max-width: 850px;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
}
.about-container img{
    display: inline-block;
    width: 100%;
    max-width: 450px;
    margin: 1.4rem 0;
    position: relative;
}
.about-container .about-opening{
    display: flex;
    text-align: center;
    padding: 0 2rem ;
    font-size: 1rem;
    line-height: 1.4;
    justify-content: center;
}
.list-quote{    
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.list-quote img{
    display: block;
    box-shadow: none;
    text-align: center;
    margin: 0.2rem;
    width: 80px;
    height: 68px;
    margin: auto;
}
.list-quote p {
    display: inline-block;
    max-width: 90%;
    margin: auto;
    padding-top: 0.6rem;
    font-size: 0.9rem;
}
.list-quote a {    
    margin: auto;
    color: #a46877;
    margin-bottom: 2rem;
}
.map {
    display: block;
    margin: 1rem;
}
.quote-map {
    display: block;
    text-align: center;
    margin: auto;
}
.quote-map .address {
    display: inline-block;
    padding: 0 0 1rem 0;
    text-align: center;
}
.quote-map .address h1{
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
}
.quote-map .address p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.quote-map .address a {
    color: #a46877;
}
/* footer */
#footer{
    display: inline-block;
    color: #333;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 0;
}
.footer-container{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}
.footer-social li{
    padding-top: 1rem;
}
.footer-social .fa-facebook-f, .footer-social .fa-instagram,
.footer-social .fa-twitter, .footer-social .fa-tripadvisor{
    font-size: 1.5rem;
}
.follow{
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
}
.footer-links{
    padding-top: 1rem;
}
.footer-links a{
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.4;
    padding-top: 1.2rem;
}

.footer-links li:last-child, .footer-opening li:last-child {
    margin-bottom: 1.4rem;
}

.footer-opening .opening-title{
    color: #A46877;
    font-size: 1.2rem;
    padding-top: 1.2rem;
}
.footer-opening li{
    font-size: 1rem;
    max-width: 100%;
}
.footer-address .footer-logo img{
    width: 220px;
    padding-top: 2rem;
}
.footer-address p, .footer-address a{
    font-size: 0.9rem;
}
