@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;300;400;700;900&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.accent {
  color: #ff5454;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a:hover .link__accent {
  color: #ff5454;
}

html {
  font-size: 62.5%;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  overflow: visible;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 62.37em) {
  html {
    font-size: 50%;
    padding: 2%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 34%;
    padding: 2%;
  }
}

@media only screen and (min-width: 112.51em) {
  html {
    font-size: 75%;
  }
}

html img {
  border-radius: 8px;
  -webkit-box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
          box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
}

.hidden {
  visibility: hidden;
  display: none;
}

.footer {
  min-height: 40rem;
  padding: 12rem 2rem 2rem 2rem;
  width: 100%;
  height: auto;
  background-color: accent;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8))), url(../images/light.jpg);
  background-image: -webkit-linear-gradient(left bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/light.jpg);
  background-image: -o-linear-gradient(left bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/light.jpg);
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/light.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

@media only screen and (max-width: 62.37em) {
  .footer {
    padding: 14rem 1rem 1rem 1rem;
    min-height: 46rem;
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 5rem 1rem 1rem 1rem;
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
  }
}

.footer .footer__container {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.footer .footer__container-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-social {
    font-size: 4rem;
    margin: 0 4rem;
    vertical-align: bottom;
    margin-top: 4rem;
  }
}

.footer .footer__container-social li {
  display: inline-block;
  margin: 0 2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 62.37em) {
  .footer .footer__container-social li {
    font-size: 3rem;
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-social li {
    font-size: 3.6rem;
    margin: 0 3.6rem;
  }
}

.footer .footer__container-social li:hover {
  color: #ff5454;
}

.footer .footer__container-social--follow {
  font-family: "Dancing Script";
  font-size: 5rem;
}

@media only screen and (max-width: 62.37em) {
  .footer .footer__container-social--follow {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-social--follow {
    font-size: 8rem;
  }
}

.footer .footer__container-opening {
  margin-top: -3rem;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.15rem;
}

@media only screen and (max-width: 62.37em) {
  .footer .footer__container-opening {
    letter-spacing: 0;
    margin-top: -1rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-opening {
    font-size: 3rem;
  }
}

.footer .footer__container-opening h3 {
  color: #ff5454;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 25px;
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-opening h3 {
    margin-top: 3rem;
    font-size: 3.4rem;
  }
}

.footer .footer__container-address {
  margin-top: -4rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-address {
    padding: 2rem 0 4rem 0;
  }
}

.footer .footer__container-address--logo img {
  max-width: 26rem;
}

@media only screen and (max-width: 62.37em) {
  .footer .footer__container-address--logo img {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-address--logo img {
    font-size: 6rem;
    margin-top: 6.8rem;
  }
}

.footer .footer__container-address p {
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 62.37em) {
  .footer .footer__container-address p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .footer__container-address p {
    font-size: 2.5rem;
  }
}

.footer .footer__container-address p a:hover {
  color: #ff5454;
}

.footer .footer__container-address .copyright {
  text-align: center;
  margin-top: 5rem;
  font-size: 12px;
  font-weight: 300;
}

.navbar {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  height: auto;
  max-height: 140px;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 62.37em) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
}

.navbar__logoMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 450px;
  height: auto;
}

@media only screen and (max-width: 62.37em) {
  .navbar__logoMenu {
    min-width: 400px;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__logoMenu {
    margin: 0 auto;
  }
}

.navbar .burger__menu .burger__menu--check:checked ~ .burger__menu--menu {
  visibility: visible;
}

.navbar .burger__menu .burger__menu--check:checked ~ .burger__menu--menu > div {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.navbar .burger__menu {
  position: absolute;
  top: 2.6rem;
  left: 8;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar .burger__menu--check:checked + .burger__menu--burger {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar .burger__menu--check:checked + .burger__menu--burger > div::before {
  opacity: 0;
}

.navbar .burger__menu--check:checked + .burger__menu--burger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .burger__menu--check {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 1.8rem;
  left: 1rem;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 3px black solid;
}

@media only screen and (max-width: 37.5em) {
  .navbar .burger__menu--check {
    left: 0;
  }
}

.navbar .burger__menu--burger {
  position: absolute;
  top: 4.4rem;
  left: 1rem;
  height: 0.5rem;
  width: 6rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 37.5em) {
  .navbar .burger__menu--burger {
    left: 0;
  }
}

.navbar .burger__menu--burger ::after,
.navbar .burger__menu--burger ::before {
  content: "";
  position: absolute;
  height: 0.6rem;
  width: 6rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  z-index: 1;
  top: -1.6rem;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navbar .burger__menu--burger ::before {
  top: 1.6rem;
  right: 0rem;
}

.navbar .burger__menu--menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

.navbar .menu__container {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 6;
}

.navbar .menu__container--wrap {
  text-align: center;
  max-width: 90vw;
  height: auto;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.navbar .menu__container--wrap ul {
  list-style: none;
  color: #333333;
}

.navbar .menu__container--wrap ul li {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1.4;
  z-index: inherit;
}

@media only screen and (max-width: 37.5em) {
  .navbar .menu__container--wrap ul li {
    font-size: 2.8rem;
    margin-top: 2rem;
    line-height: 1.5;
    margin-top: 1.2rem;
  }
}

.navbar .menu__container--wrap ul li .active {
  color: #ff5454;
  font-weight: 900;
}

.navbar .menu__container--wrap ul li a {
  color: inherit;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.navbar .menu__container--wrap ul li a:link,
.navbar .menu__container--wrap ul li a:visited {
  -webkit-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.navbar__logo {
  cursor: pointer;
  padding-left: 80px;
}

.navbar__logo-img {
  max-width: 40rem;
  padding-left: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 62.37em) {
  .navbar__logo-img {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__logo-img {
    max-width: 60%;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__logo {
    font-size: 5.6rem;
    padding-left: 40px;
    margin-top: -0.5rem;
  }
}

.navbar__info {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 62.37em) {
  .navbar__info {
    padding-top: 0rem;
    line-height: 1.3;
    text-align: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .navbar__info {
    margin: 0 auto;
    text-align: center;
  }
}

.navbar__info-openStatus {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-left: 3rem;
  letter-spacing: -0.02rem;
}

.navbar__info-openStatus .openJs {
  font-size: 2.6rem;
}

@media only screen and (max-width: 37.5em) {
  .navbar__info-openStatus {
    font-size: 3rem;
    margin-left: 0rem;
  }
}

.navbar__info-text {
  display: inline-block;
}

.navbar__info-text ul li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-left: 3rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .navbar__info-text ul li {
    font-size: 2.6rem;
    letter-spacing: -0.03rem;
    margin-left: 0rem;
  }
}

.navbar__info-text ul .phone {
  display: inline-block;
  border-radius: 25px;
  padding: 0 0.4rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .navbar__info-text ul .phone {
    margin-left: 2rem;
  }
}

.navbar__info-text .nav__icons {
  margin-left: 1.4rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar_secondary {
  background: #000;
}

.accent__menu-menus,
.accent__menu-book,
.accent__menu-social {
  position: absolute;
  color: white;
  width: 24rem;
  height: 8rem;
  border-radius: 0 18px 0 18px;
  background: rgba(0, 0, 0, 0.9);
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.1rem;
  z-index: 4;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media only screen and (max-width: 62.37em) {
  .accent__menu-menus,
  .accent__menu-book,
  .accent__menu-social {
    margin-top: 2rem;
  }
}

.accent__menu-menus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 16rem;
}

@media only screen and (max-width: 62.37em) {
  .accent__menu-menus {
    top: 18rem;
  }
}

.accent__menu-menus:hover {
  color: #ff5454;
}

@media only screen and (max-width: 37.5em) {
  .accent__menu-menus {
    display: none;
  }
}

.accent__menu-menus:hover .ourMenus__container {
  position: absolute;
  text-align: center;
  top: 0;
  left: 24rem;
  width: 30rem;
  height: auto;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 18px;
  font-size: 2rem;
  line-height: 2;
  padding: 2rem 2rem 2rem 2.4rem;
  z-index: 3;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accent__menu-menus:hover .ourMenus__container a {
  color: #ffffff;
}

.accent__menu-menus:hover .ourMenus__container a:hover {
  color: #ff5454;
}

.accent__menu-menus:hover .ourMenus__container-items {
  display: list-item;
}

.accent__menu .ourMenus__container-items {
  display: none;
}

.accent__menu-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 26rem;
  border: 0;
  outline: 0;
}

.accent__menu-book:hover {
  color: #ff5454;
}

@media only screen and (max-width: 62.37em) {
  .accent__menu-book {
    top: 28rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .accent__menu-book {
    top: 26rem;
  }
}

.accent__menu-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 36rem;
}

@media only screen and (max-width: 62.37em) {
  .accent__menu-social {
    top: 38rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .accent__menu-social {
    top: 36rem;
  }
}

.accent__menu-social .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accent__menu-social .social__items {
  font-size: 2.6rem;
  margin: 0 1.6rem;
  cursor: pointer;
}

.accent__menu-social .social__items:hover {
  color: #ff5454;
}

.popup__wrapper {
  height: 75vh;
}

.popup {
  position: relative;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 504px;
  width: 300px;
  opacity: 0;
}

@media only screen and (max-width: 62.37em) {
  .popup {
    position: relative;
    top: 20%;
    left: 60%;
    -webkit-transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
         -o-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}

@media only screen and (max-width: 37.5em) {
  .popup {
    position: relative;
    top: 64%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.popup__close {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  top: -34px;
  cursor: pointer;
  z-index: 280;
  color: #000000;
}

@media only screen and (max-width: 37.5em) {
  .popup__close {
    top: -40px;
  }
}

.iframe {
  border: 0px none;
  height: 504px;
  width: 304px;
  border-radius: 12px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .iframe {
    width: 100%;
  }
}

#notice {
  position: relative;
}

.notice {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 0 18px 0 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  position: relative;
  top: -10rem;
  margin-bottom: -14rem;
}

@media only screen and (max-width: 62.37em) {
  .notice {
    width: 94%;
  }
}

@media only screen and (max-width: 37.5em) {
  .notice {
    top: -2rem;
    width: 94%;
    margin-bottom: -6rem;
  }
}

.notice h2 {
  font-size: 5rem;
  color: #ff5454;
  text-transform: uppercase;
  padding: 0 4rem;
}

.notice h3 {
  padding: 0 4rem;
}

.notice p {
  font-size: 2rem;
  padding: 0 4rem 2rem 4rem;
}

@media only screen and (max-width: 37.5em) {
  .notice p {
    font-size: 2.8rem;
  }
}

#navbar__home,
#accent_dark,
#accent_dark2,
#accent_dark3,
#accent_dark4 {
  background: rgba(0, 0, 0, 0.8);
}

.header {
  width: 100%;
  height: 90vh;
  min-height: 72rem;
  background-color: black;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/index__background.jpg);
  background-image: -webkit-linear-gradient(left bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/index__background.jpg);
  background-image: -o-linear-gradient(left bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/index__background.jpg);
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/index__background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  overflow: hidden;
}

@media only screen and (max-width: 112.5em) {
  .header {
    min-height: 90rem;
  }
}

@media only screen and (max-width: 62.37em) {
  .header {
    min-height: 98rem;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))), url(../images/index__background-1x.jpg);
    background-image: -webkit-linear-gradient(left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../images/index__background-1x.jpg);
    background-image: -o-linear-gradient(left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../images/index__background-1x.jpg);
    background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../images/index__background-1x.jpg);
    background-position: center;
    min-height: 146rem;
  }
}

.mainBody {
  width: 100%;
  height: auto;
}

.mainBody__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: auto;
  min-height: 58rem;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.08)));
  background-image: -webkit-linear-gradient(left bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  background-image: -o-linear-gradient(left bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 5rem;
  clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
}

@media only screen and (max-width: 62.37em) {
  .mainBody__top {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__top {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    -webkit-clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  }
}

.mainBody__top-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: left;
  color: #000;
  max-width: 58rem;
  font-size: 1.8rem;
  font-weight: 500;
}

@media only screen and (max-width: 112.5em) {
  .mainBody__top-text {
    font-size: 2rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 62.37em) {
  .mainBody__top-text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__top-text {
    padding-top: 3rem;
    font-size: 2.8rem;
    max-width: 100%;
    text-align: justify;
    line-height: 4.4rem;
  }
}

.mainBody__top-text p:first-letter {
  font-size: 3.2rem;
}

@media only screen and (max-width: 37.5em) {
  .mainBody__top-text {
    display: none;
  }
}

.mainBody__top-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 62.37em) {
  .mainBody__top-img {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__top-img {
    padding-bottom: 2rem;
    max-width: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainBody__top-img img {
  -webkit-box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
          box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
  margin: 2.4rem;
  max-width: 42rem;
}

@media only screen and (max-width: 112.5em) {
  .mainBody__top-img img {
    max-width: 48rem;
    margin: 4.4rem;
  }
}

@media only screen and (max-width: 62.37em) {
  .mainBody__top-img img {
    max-width: 29rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__top-img img {
    max-width: 100%;
    margin-bottom: 3rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.mainBody__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: auto;
  min-height: 58rem;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.08)));
  background-image: -webkit-linear-gradient(left bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  background-image: -o-linear-gradient(left bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.08));
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 5rem;
  clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
  padding-bottom: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 62.37em) {
  .mainBody__bottom {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__bottom {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    -webkit-clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  }
}

.mainBody__bottom-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: left;
  color: #000;
  max-width: 58rem;
  font-size: 1.8rem;
  font-weight: 500;
}

@media only screen and (max-width: 112.5em) {
  .mainBody__bottom-text {
    font-size: 2rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 62.37em) {
  .mainBody__bottom-text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__bottom-text {
    padding-top: 3rem;
    font-size: 2.8rem;
    max-width: 100%;
    text-align: justify;
    line-height: 4.4rem;
  }
}

.mainBody__bottom-text p:first-letter {
  font-size: 3.2rem;
}

@media only screen and (max-width: 37.5em) {
  .mainBody__bottom-text {
    display: none;
  }
}

.mainBody__bottom-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 62.37em) {
  .mainBody__bottom-img {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__bottom-img {
    padding-bottom: 2rem;
    max-width: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainBody__bottom-img img {
  -webkit-box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
          box-shadow: 2px 8px 16px rgba(51, 51, 51, 0.6);
  margin: 2.4rem;
  max-width: 42rem;
}

@media only screen and (max-width: 112.5em) {
  .mainBody__bottom-img img {
    max-width: 48rem;
    margin: 4.4rem;
  }
}

@media only screen and (max-width: 62.37em) {
  .mainBody__bottom-img img {
    max-width: 29rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainBody__bottom-img img {
    max-width: 100%;
    margin-bottom: 3rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media only screen and (min-width: 112.51em) {
  .last_img {
    display: none;
  }
}

#position__gallery {
  top: 18%;
  z-index: 0;
}

@media only screen and (max-width: 62.37em) {
  #position__gallery {
    top: 88rem;
  }
}

#burger-dark {
  background-color: #333333;
}

@media only screen and (max-width: 37.5em) {
  #burger-dark {
    left: 0;
  }
}

#burger-dark ::after,
#burger-dark ::before {
  background-color: #333333;
}

.body__top--gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 62.37em) {
  .body__top--gallery {
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .body__top--gallery {
    margin-top: 29rem;
    padding-bottom: 4rem;
  }
}

.body__top--gallery img {
  width: 33rem;
  margin: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .body__top--gallery img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 320px;
  }
}

.blank__img {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 62.37em) {
  .blank__img {
    display: initial;
  }
}

@media only screen and (max-width: 37.5em) {
  .blank__img {
    visibility: hidden;
    display: none;
  }
}

#position__art {
  top: 18%;
  z-index: 0;
}

@media only screen and (max-width: 62.37em) {
  #position__art {
    top: 88rem;
  }
}

.art__intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: 1rem;
}

.art__intro-header {
  color: #333333;
  font-size: 2rem;
  max-width: 50rem;
  position: relative;
  left: -13rem;
}

@media only screen and (max-width: 62.37em) {
  .art__intro-header {
    margin-left: 30rem;
    margin-top: -4rem;
    padding-right: 2rem;
    text-align: left;
    left: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__intro-header {
    text-align: left;
    margin-top: 0;
    margin-left: 0rem;
    padding: 0rem 1rem 1rem 1rem;
    font-size: 2.8rem;
    max-width: 100%;
  }
}

.art__exhibition {
  width: 70%;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -6rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 62.37em) {
  .art__exhibition {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__exhibition {
    margin-bottom: 12rem;
  }
}

.art__exhibition-text {
  font-size: 2rem;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .art__exhibition-text {
    font-size: 2.8rem;
  }
}

.art__exhibition-text span {
  color: #ff5454;
  font-size: 1.6rem;
}

.art__exhibition-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 104rem;
}

.art__exhibition-img img {
  margin: 1rem;
  width: auto;
  height: 202px;
  max-width: 30rem;
}

@media only screen and (max-width: 37.5em) {
  .art__exhibition-img img {
    max-width: 300px;
  }
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.6rem;
}

@media only screen and (max-width: 37.5em) {
  h3 {
    font-size: 3rem;
    max-width: 100%;
  }
}

.exhi_h1 {
  font-size: 4.4rem;
  text-transform: uppercase;
  text-align: center;
}

.body__top--about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem 0 4rem 0;
}

@media only screen and (max-width: 62.37em) {
  .about__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__header-address {
  color: #000;
  font-size: 2rem;
  text-align: right;
  margin: 4rem 8% 4rem 4rem;
  min-width: 276px;
}

.about__header-address--text {
  font-weight: 700;
}

@media only screen and (max-width: 62.37em) {
  .about__header-address {
    text-align: right;
  }
}

@media only screen and (max-width: 37.5em) {
  .about__header-address {
    font-size: 3rem;
  }
}

.about__header-address h1 {
  font-size: 2.6rem;
}

.about__header-address h2 {
  font-size: 2.2rem;
}

.about__header-text {
  color: #000;
  font-size: 2rem;
  text-align: left;
  max-width: 70rem;
  margin: 1rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .about__header-text {
    max-width: 100%;
    font-size: 2.8rem;
  }
}

.about__header-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 3rem;
}

@media only screen and (max-width: 62.37em) {
  .about__header-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__header-img img {
  max-width: 50rem;
  width: 90%;
}

@media only screen and (max-width: 37.5em) {
  .about__header-img img {
    max-width: 100%;
    width: 100%;
  }
}

.about__phone {
  margin-top: 1rem;
  font-weight: 700;
}

.list__quote {
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 62.37em) {
  .list__quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin-bottom: 4rem;
  }
}

.list__quote img {
  width: 12rem;
  height: 8rem;
  margin: 4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

@media only screen and (max-width: 62.37em) {
  .list__quote img {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.list__quote-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.6rem;
  padding: 0 1rem;
}

@media only screen and (max-width: 37.5em) {
  .list__quote-text {
    font-size: 2.4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__about {
  color: #ffffff;
  margin-top: 6rem;
}

.header__secondary {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  height: auto;
  background: transparent;
}

@media only screen and (max-width: 62.37em) {
  .header__secondary {
    min-height: 98rem;
  }
}

#header__covid {
  height: 100%;
}

@media only screen and (max-width: 62.37em) {
  #header__covid {
    height: 120%;
    margin-bottom: -3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  #header__covid {
    height: auto;
  }
}

.body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5rem;
  justify-content: center;
  margin-bottom: 14rem;
}

.body__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 27rem;
}

@media only screen and (max-width: 62.37em) {
  .body__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin-left: 0rem;
  }
}

.body__top-text--covid {
  font-size: 2rem;
  max-width: 80rem;
  text-align: left;
  color: #000;
  margin-bottom: 3rem;
}

.body__top-text--covid p:first-letter {
  font-size: 3.8rem;
}

@media only screen and (max-width: 62.37em) {
  .body__top-text--covid {
    text-align: left;
    padding: 0 2rem;
    position: relative;
    margin: -7rem 0 -5rem 0;
  }
}

.body__top-img--covid {
  z-index: -1;
}

@media only screen and (max-width: 62.37em) {
  .body__top-img--covid {
    position: relative;
    top: -6rem;
    left: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .body__top-img--covid {
    position: relative;
    top: -8rem;
    left: 12rem;
  }
}

.body__top-img--covid img {
  max-width: 38rem;
  margin: 2rem 2rem 0 2rem;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=styles.css.map */