@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap');
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.fa-angle-down:before {
    font-size: 0.6rem;
}
html, 
body {
    background: #fff;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
a:link, a:visited {
    text-decoration: none;
}
.current {
    border-bottom: 1px solid #a46877;
}
#navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 2;
}
#navbar .navbar-top {
    display: flex;
    width: 100%;
    max-width: 1600px;
    width: 100%;
    background: #fff;
    height: 4.6rem;
    text-align: center;
    margin: auto;
}
#navbar .navbar-top .logo {
    text-align: right;
    min-width: 333px;
    width: 40%;
    position: relative;
    top: 0.6rem;
    padding-right: 4vw;
    color: #333;
    display: inline-block;
    font-size: 2.8rem;
    font-family: 'Pacifico', cursive;
}
#navbar .navbar-top .logo a{
    color: #333;
}
#navbar .navbar-top .top-right{
    text-align: center;
}
#navbar .navbar-top .navbar-text {
    position: relative;
    top: 2rem;
    width: 100%;
    text-align: left;
    font-size: 0.rem;
}
#navbar i.fas, i.fab {
    font-size: 1.2rem;
} 
#navbar .navbar-top .navbar-text ul li {
    display: inline-block;
}
#navbar .navbar-top .navbar-text a{
    color: #333;
    font-weight: 600;
    padding-right: 1rem;
}
#navbar .navbar-top .navbar-text .pink {
    color: #a46877;
}
#navbar .navbar-top .navbar-text a:hover {
    color: #a46877;
    transition: 0.3s linear;
}

#navbar .navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.2rem;
    background: #333;   
    text-align: center;
}
#navbar .navbar-bottom ul {
    list-style: none;
}
#navbar .navbar-bottom ul li {
    color: #fff;
    display: inline-block;
    padding: 0 2rem;
    position: relative;
    font-size: 0.9rem;
}

#navbar .navbar-bottom ul li a {
    color: #fff;
}
#navbar .navbar-bottom ul li a:hover {
    color: #a46877;
    transition: 0.3s linear;
}

/* Hide bt default */
#navbar .navbar-bottom ul li ul {
    display: none;
}

#navbar .navbar-bottom ul li:hover {
    cursor: pointer;
    color: #a46877;
    transition: 0.3s linear;
}


/* Nested show */
#navbar .navbar-bottom ul li:hover ul {
    display: block;
    position: absolute;
    right: -1.2rem;
    width: 160px;
    padding: 0.4rem 0;
}
#navbar .navbar-bottom ul li:hover ul li {
    display: block;
    background: #333;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 5px;
    padding: 0.4rem 0;
    }
#navbar .navbar-bottom ul li:hover ul li a {
    color: #fff;
    transition: 0.3s linear;
}
#navbar .navbar-bottom ul li:hover ul li a:hover {
    color: #a46877;
    padding: 0;
}
/* Showcase */
.background img {
  width: 100%;
  height: 40vw;
  max-height: 700px;
  object-fit: cover;
}
.welcome {
    position: relative;
    top: -0.8rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #333;
    width: 100%;
    text-align: center;
    height: 13vh;
}
.welcome h1 {
    font-size: 1.6rem;
    padding: 1rem 0 0.4rem 0;
    }
.welcome p {
    font-size: 1rem;
    max-width: 650px;
    margin: auto;
}
.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* Display */
.display-top {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 60vh;
}
.display-bottom {
    display: flex;
    background-color: #333;
    width: 100%;
    height: 60vh;
}
.display-top .display-text {
    direction: rtl;
    text-align: justify;
    width: 36%;
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}
.display-bottom .display-text {
    text-align: left;
    color: white;
    font-weight: 300;
    width: 36%;
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}
.display-top .display-text h1 {
    font-weight: 400;
}
.display-bottom .display-text h1 {
    font-weight: 300;
}

.display-text h3 a{
    font-family: 'Roboto';
    font-weight: 400;
    color: #A46877;
}

.display-top .display-img {
    text-align: left;
    margin: auto;
    margin-left: -6vw;
}
.display-bottom .display-img {
    text-align: right;
    margin: auto;
    margin-right: -6vw;
}
.display-img img {
    width: 30vw;
    min-width: 300px;
    max-width: 480px;
    box-shadow: 5px 5px 15px #000;
    -moz-box-shadow: 5px 5px 15px #000;
    -webkit-box-shadow: 5px 5px 15px #000;
    -khtml-box-shadow: 5px 5px 15px #000;
}

/* covid */
#covid {
    position: relative;
    min-height: 88vh;
    height: 100%;
}
.covid-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding-top: 8rem;
}
.covid-img img {
    display: flex;
    width: 320px;
    margin: auto;
}
.covid-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5vw;
    text-align: justify;
    margin-bottom: 4rem;
    margin: ;
}
.covid-text ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.covid-text ul li {
    color: #a46877;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem ;
}

/* Gallery */
#gallery {
    position: relative;
    min-height: 88vh;
    height: 100%;
}
.gallery-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 899px;
    margin: auto;
    height: auto;
}
.items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    width: 100%;
    margin: auto;
    padding-top: 7.8rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}
.gallery-item {
    width: 260px;
    margin: 0.8rem;
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -khtml-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
}
.gallery-item:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.4s;
}


/* About Us */
#about {
    position: relative;
    min-height: 88vh;
    height: 100%;
}
.about-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 6.9rem;
}
.about-container .top {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
}
#bottom {
    width: 100%;
    margin: auto;
    background: #333;
    padding: 1rem;
}
#bottom p {
    color: #fff;
    max-width: 60%;
    padding: 1rem 0 0 0;
    margin: auto;
}
.about-container img {
    display: flex;
    width: 640px;
    height: auto;
    margin: auto;
    margin: 1rem;
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
    -khtml-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
}
.about-container .about-opening {
    display: flex;
    text-align: center;
    padding: 8rem 2rem;
    font-size: 1.4rem;
    line-height: 1.6;
    justify-content: center;
}
.about-container .about-opening .opening-title{
    color: #a46877;
}
.list-quote {    
    display: inline-block;
    width: 100%;
    background: #333;
    margin: auto;
    text-align: center;
    padding: 3rem;
}
.list-quote img {
    margin: auto;
    display: inline-block;
    box-shadow: none;
    margin: 0.2rem;
    width: 80px;
    height: 68px;
}
.list-quote p {
    display: inline-block;
    color: #fff;
    max-width: 60%;
    margin: auto;
    padding-top: 0.6rem;
}
.list-quote a {    
     margin: auto;
    color: #a46877;
    margin-bottom: 2rem;
}
.map {
    margin: 1rem;
}
.quote-map {
    display: flex;
    margin: auto;
}
.quote-map .address {
    display: inline-block;
    padding: 5rem 2rem 2rem 4rem;
    text-align: center;
}
.quote-map .address p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.quote-map .address a {
    color: #a46877;
}

/* Art */
#art {
    position: relative;
    min-height: 88vh;
    height: 100%;
}
.art-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    margin: auto;
}
.art-header {
    display: block;
    position: relative;
    top: 4rem;
    text-align: center;
    width: 100%;
    height: 12vw;
    margin: auto;
}
.exhibition {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    text-align: ;
}
.exhibition .exhi-text {
    display: block;
    width: 100%;
    margin: auto;
}
.exhibition .exhi-img {
    margin: auto;
}

/* Reservations */
#reservations {
    position: relative;
    min-height: 88vh;
    height: 100%;
}
.reservations-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 8rem;
}

/* Hamburger */
.menu-wrap .toggler {
    display: none;
}
.menu-wrap .hamnurger {
    display: none;
}
.menu-wrap .menu {
    display: none;
}

/* Footer */
#footer {
    background: #fff;
    width: 100%;
    height: 20vw;
    max-height: 12rem;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 0;
    list-style: none;
}
#footer ul {
    list-style: none;
    color: #333;
}
#footer a {
    text-decoration: none;
    color: #333;
}
.footer-container {
    display: flex;
    background-color: #fff;
    width: 90%;
    margin: auto;
    height: 100%;
    max-height: 12rem;
    padding-top: 0.6rem;
}
.footer-opening {
    text-align: center;
    margin: auto;
}
.footer-address, .footer-opening, .footer-links, .footer-social {
    text-align: center;
    margin: auto;
}
.footer-social li {
    display: inline-block;
    color: #333;
    padding: 0.6rem;
    transition: 0.3s linear;
}
.footer-social .fa-facebook-f, .footer-social .fa-instagram,
.footer-social .fa-twitter, .footer-social .fa-tripadvisor {
    font-size: 1.6rem;
}
.follow {
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
}
.footer-links a{
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2;
}
#footer a:hover {
    color: #A46877;
    transition: 0.3s linear;
}
.footer-opening .opening-title {
    color: #A46877;
    font-size: 1.2rem;
}
.footer-opening li {
    font-size: 0.9rem;
    font-weight: 500;
}
.footer-address .footer-logo {
    color: #333;
    font-size: 2.2rem;
    font-family: 'Pacifico', cursive;
}
.footer-address p, .footer-address a {
    font-family: 'Roboto';
    font-size: 0.9rem;
}
.footer-address h4 {
    font-size: 9px;
    margin-top: 1.2rem;
}
#footer .nav-phone a {
    color: #a46877;
}


