@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;    
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #A46877;
    transition: 0.3s linear;
}
html, body{
    background: #fff;
    font-family: 'Roboto';
    scroll-behavior: smooth;
    max-width: 100vw;
}
.pink{
    color: #a46877;
}
.current{
    border-bottom: 1px solid #a46877;
}
/* Navbar */
#navbar{
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 3;
}
/* Nav-Top */
.navbar-top{
    display: flex;
    height: 74px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}
.logo{
    width: 37%;
    text-align: right;
    padding: 1rem 1.8vw 0 0.3rem;
}
.menu-wrap{
    display: none;
}
.navbar-text{
    width: 61%;
    height: 74px;
    display: inline-block;
    position: relative;
    left: 6%;
    padding-left: 0;
    padding-top: 2rem;
}
.navbar-text ul li{
    display: inline-block;
    padding-right: 1rem;
}
.navbar-text ul li a{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
#navbar i.fas, i.fab{
    font-size: 1.2rem;
} 
/* Nav-Bottom */
.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.2rem;
    color: #fff; 
    /* text-align: center; */
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.navbar-bottom ul li{
    display: inline-block;
    padding: 0 2rem;
    position: relative;
    font-size: 0.9rem;
    font-weight: 500;
}    
.fa-angle-down:before{
    font-size: 0.7rem;
}
/* hide nav-top-menu */
#navbar .navbar-bottom ul li ul{
    display: none;
}

#navbar .navbar-bottom ul li a:hover, .navbar-bottom ul li:hover{
    cursor: pointer;
    color: #a46877;
    transition: 0.3s linear;
}
/* Nested show */
#navbar .navbar-bottom ul li:hover ul{
    display: block;
    position: absolute;
    right: -1rem;
    width: 160px;
    padding: 0.4rem 0;
    text-align: center;
}
#navbar .navbar-bottom ul li:hover ul li{
    display: block;
    background: #333;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 5px;
    padding: 0.4rem 0;
}
#navbar .navbar-bottom ul li:hover ul li a{
    color: #fff;
    transition: 0.3s linear;
}
#navbar .navbar-bottom ul li:hover ul li a:hover{
    color: #a46877;
    padding: 0;
}
/* Showcase */
.background{
    background-image: url("../images/showcase-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 87vh;
}
.welcome{
    width: 100%;
    background-color: #333;
    text-align: center;
    color: #fff;
}
.welcome h2{
    font-size: 1.4rem;
    padding: 1rem 0 0.4rem 0;
    }
.welcome p{
    font-size: 0.9rem;
    max-width: 650px;
    margin: auto;
    padding-bottom: 1rem;
}
.fade-in{
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }
  @keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-moz-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-webkit-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }
    @-o-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}  }  @-ms-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }
  /* showcase */
  .display-top{
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: 60vh;
    max-width: 100vw;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.display-bottom{
    display: flex;
    background-color: #333;
    width: 100vw;
    max-width: 100vw;
    height: 60vh;
    text-align: center;
    justify-content: center;

}
.display-top .display-text{
    direction: rtl;
    font-size: 0.9rem;
    max-width: 500px;
    margin: auto;
    line-height: 1.6;
}
.display-bottom .display-text{
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    width: 40%;
    max-width: 500px;
    line-height: 1.6;
}
.display-text p{
    text-align: center;
}
.display-top .display-text h2{
    font-weight: 400;
    text-align: center;
}
.display-bottom .display-text h2{
    font-weight: 300;
    text-align: center;
}
.display-top .display-img{
    text-align: left;
    margin: auto;
    margin-left: 1rem;
}
.display-bottom .display-img{
    /* text-align: right; */
    margin: auto;
    margin-right: 1rem;
}
.display-img img{
    width: 30vw;
    min-width: 360px;
    max-width: 480px;
    box-shadow: 5px 5px 15px #000;
    -moz-box-shadow: 5px 5px 15px #000;
    -webkit-box-shadow: 5px 5px 15px #000;
    -khtml-box-shadow: 5px 5px 15px #000;
}
/* Covid */
#covid{
    height: auto;
}
.covid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
    max-width: 1500px;
    height: auto;
    min-height: 73vh;
    padding-top: 12rem;
}
.covid-img {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.covid-img img {
    display: inline-block;
    flex-direction: row;
    width: 24vw;
    max-width: 240px;
    min-width: 140px;
    margin: auto;
    margin: 2rem 2rem 0 2rem;

    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.covid-text {
    display: inline-block;
    flex-direction: row;
    width: 50vw;
    min-width: 300px;
    height: auto;
    padding: 1rem;
    text-align: center;
    /* margin-bottom: 2rem; */
}
.covid-text ul {
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.covid-text ul li {
    color: #a46877;
    font-size: 1.6rem;
    padding: 1rem ;
}
/* Covid19
.covid-container{
    width: 80%;
    text-align: center;
    margin: auto;
} */
/* Reservations */
#reservations {
    position: relative;
    min-height: 79.5vh;
    height: 79.5vh;
}
.reservations-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 9rem;
}
/* Gallery */
#gallery{
    position: relative;
    min-height: 79.5vh;
    height: 100%;
}
.gallery-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 899px;
    margin: auto;
    height: auto;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    width: 100%;
    margin: auto;
    padding-top: 7.8rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}
.gallery-item{
    width: 260px;
    margin: 0.8rem;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.gallery-item:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.4s;
}
@media only screen and (max-width: 590px){
    .items-container{padding-top: 5rem;}
    .gallery-item {width: 100vw; max-width: 320px;}}
/* Art */
#art{
    position: relative;
    height: 100%;
}
.art-container{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: calc(100% - 228.39px);
    padding-top: 3.5rem;
    margin: auto;
}
.art-header p{
    margin: 2rem 0 2rem 0;
    text-align: justify;
}
.art-header p a{
    color: #a46877;
}
.exhibition{
    background-color: #333;
    display: block;
    width: 100%;
    margin: auto;
    padding: 1rem;
}
.exhi-cont{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.exhibition .exhi-text{
    display: block;
    color: white;
    width: 70%;
    margin: 1rem 0;
    padding: 1rem 0;
    margin: auto;
}
.exhibition .exhi-text span{
    color: #a46877;
    font-size: 0.9rem;
}
.art-header h2{
    font-size: 1.4;
    text-transform: capitalize;
}
.exhibition .exhi-text h2{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.art-intro{
    display: inline-block;
    width: 100%;
    min-height: 550px;
    margin: auto;
    text-align: center;
}
.art-img{
    display: inline-block;
    max-width: 450px;
    margin: 1.4rem;
    position: relative;
    top: 4rem;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.art-header{
    display: inline-block;
    position: relative;
    text-align: center;
    top: -5rem;
    height: 340px;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
}
.exhibition .exhi-text h2 a{
    color: #fff;
}
.exhibition .exhi-img {
    display: flex;
    justify-content: space-between;
}
.exhibition .exhi-img img{
    width: 24vw;
    max-width: 280px;
    justify-content: space-between;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
/* About Us */
#about{
    position: relative;
    min-height: 79.5vh;
    height: 100%;
}
.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 6.9rem;
}
.about-container .top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 1rem;
}
#bottom{
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 1rem;
}
#bottom p{
    color: #333;
    width: 100%;
    max-width: 850px;
    margin: auto;
    padding-top: 0.6rem;
    font-weight: 500;

}
.about-container img{
    display: flex;
    width: 640px;
    height: inherit;
    margin: auto;
    margin: 1rem;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.about-container .about-opening{
    display: flex;
    text-align: center;
    padding: 6rem 2rem;
    font-size: 1.2rem;
    line-height: 1.7;
    justify-content: center;
}
.opening-title h4{
    padding-top: 3rem;
}
.about-container .about-opening .opening-title{
    color: #a46877;
}
.list-quote{    
    display: inline-block;
    width: 100%;
    background: #333;
    margin: auto;
    text-align: center;
    padding: 1rem 0 2rem 0;
    box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -khtml-box-shadow: 0px 2px 5px #000;
}
.list-quote img{
    margin: auto;
    display: inline-block;
    box-shadow: none;
    margin: 0.2rem;
    width: 80px;
    height: 68px;
}
.list-quote p {
    display: inline-block;
    color: #fff;
    max-width: 60%;
    margin: auto;
    padding-top: 0.6rem;
    font-size: 1rem;
    font-weight: 400;
}
.list-quote a {    
     margin: auto;
    color: #a46877;
    margin-bottom: 2rem;
}
.map {
    margin: 1rem;
}
.quote-map {
    display: flex;
    margin: auto;
}
.quote-map .address {
    display: inline-block;
    padding: 4.8rem 2rem 2rem 4rem;
    text-align: center;
}
.quote-map .address p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.quote-map .address a {
    color: #a46877;
}
.address p{
    font-weight: 700;
}
/* footer */
#footer{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 0;
    background-color: #fff;
}
.footer-container{
    display: flex;
    position: relative;
    bottom: 0;
    max-width: 1400px;
    margin: auto;
    height: 100%;
    padding: 1rem;
    justify-content: space-around;
}
.footer-social li{
    display: inline-block;
    color: #333;
    padding: 0.6rem;
    transition: 0.3s linear;
    vertical-align: middle;
    padding-top: 35%;
}
.footer-social .fa-facebook-f, .footer-social .fa-instagram,
.footer-social .fa-twitter, .footer-social .fa-tripadvisor{
    font-size: 1.6rem;
}
.follow{
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
}
.footer-links{
    padding-top: 1rem;
}
.footer-links a{
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.4;
    padding-top: 4%;
}
.footer-opening .opening-title{
    color: #A46877;
    font-size: 1.1rem;
    padding-top: 4rem;
}
.footer-opening li{
    font-size: 0.9rem;
    font-weight: 500;
}
.footer-address .footer-logo img{
    width: 250px;
    padding-top: 14%;
}
.footer-address p, .footer-address a{
    font-size: 0.9rem;
    font-weight: 500;
}
.footer-address h4{
    font-size: 11px;
    margin-top: 2rem;
}
#footer .nav-phone a{
    color: #a46877;
}