// FONTS
$font-primary: "Poppins", sans-serif;
$font-secondary: "Pacifico", cursive;
$font-tertiary: "Dancing Script";

// COLOURS
$color-white: #ffffff;
$color-dark: #333333;
$color-dark-secondary: #ececec;

$color-accent: #ff5454;

$color-black: #000;

// BORDER RADIUS
$border-pic--s: 4px;
$border-pic--l: 8px;

// BOX-SHADOW
$shadow: 2px 8px 16px rgba($color-dark, 0.6);
$shadow-active: 0px 5px 10px rgba($color-dark, 0.4);
